<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jenkinsci.plugins.unity3d.Unity3dBuilder>
      <unity3dName>Unity Stable</unity3dName>
      <argLine>-quit -batchmode -executeMethod Builder.TestEditorException</argLine>
    </org.jenkinsci.plugins.unity3d.Unity3dBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>